<%- include('partials/_header') %>
<%- include('partials/_nav') %>



  <header class="page-header header-coleccion container-fluid">
      <div class="overlay"></div>
      <div class="description">
        <h1>First Collection</h1>

      </div>
  </header>
<!--
  <div class="coleccion-div container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 coleccion-img">
        <div class="c-img">
          <img src="images/catalogo/Catalogo5.png" alt="">
        </div>
        <div>
          <p class="mini-titulo">Noche estrellada</p>
          <p>$250.00 MXN</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 coleccion-img">
        <div class="c-img">
          <img src="images/catalogo/Catalogo4.png" alt="">
        </div>
        <div>
          <p class="mini-titulo">Noche estrellada</p>
          <p>$250.00 MXN</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 coleccion-img">
        <div class="c-img">
          <img src="images/catalogo/Catalogo1.png" alt="">
        </div>
        <div>
          <p class="mini-titulo">Noche estrellada</p>
          <p>$250.00 MXN</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 coleccion-img">
        <div class="c-img">
          <img src="images/catalogo/Catalogo3.png" alt="">
        </div>
        <div>
          <p class="mini-titulo">Noche estrellada</p>
          <p>$250.00 MXN</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 coleccion-img">
        <div class="c-img">
          <img src="images/catalogo/Catalogo2.png" alt="">
        </div>
        <div>
          <p class="mini-titulo">Noche estrellada</p>
          <p>$250.00 MXN</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 coleccion-img">
        <div class="c-img">
          <img src="images/catalogo/Catalogo5.png" alt="">
        </div>
        <div>
          <p class="mini-titulo">Noche estrellada</p>
          <p>$250.00 MXN</p>
        </div>
      </div>

    </div>
  </div>
-->

<div class="container hp-ropa">
  <div class="row products camisetas">
           <% if(data){ %>
             <% for(var i=0; i <data.length; i++){ %>
               <div class="col-lg-4 col-md-6 mb-4">
                 <div class="card h-100">
                   <a href='product-page.html/<%=data[i].id_producto%>'><img class="card-img-top" src='/images/Productos/<%=data[i].id_producto%>.png' alt=""></a>
                   <div class="card-body">
                     <strong> <h5 class="card-title" style="margin: 0; font-weight: 600;">
                       <a class="text-dark" href="product-page.html/<%=data[i].id_producto%>"><%= data[i].nom_producto%></a>
                     </h5></strong>
                     <p class="text-secondary">$<%= data[i].precio %> pesos</p> 

                     <!-- boton
                     <form action="/add/<%= data[i].id_producto%>" method="get" class="text-center">
                      
                       <% if(data[i].inventario >= 1) { %>
                         <button type="submit" class=" btn-comprar" role="button">
                            <span class="spn">Comprar</span>
                       <%}else{%>
                         <button type="submit" class="btn btn-iconed btn-lg btn-rounded btn-outline-secondary btn-block"role="button">
                           <span>No disponible</span>
                       <%}%>   
                         </button>  
                       </form> 
                     -->
                   </div>
                 </div>
               </div>
             <% } %>
           <% } %>

           
   </div>
</div>
  <%- include('partials/_footer') %>