<%- include('partials/_header') %>
<%- include('partials/_nav') %>


  <div class="parallax">
    <img src="images/eventos/ahuarfest_banner.png" alt="">
    
  </div>
  <a class="arrow-wrap" href="#content">
    <span class="arrow"></span></a>
<div class="eventos" id="content">
    <div class="container-fluid">
      <div class="row mitad">
          <div class="col-xs-12 order-md-last col-md-6 texto-mitad">
            <h1 style="margin-bottom: 0px!important;">Post Apocalipsis</h1>
            <p class="sub-tit">Twitter Gang</p>
            <p>En estos momentos del año estamos en crisis pero eso no significa
               que estemos asi todo el año, asi que estan todos invitados.</p>
          </div>
          <div  class="col-xs-12 col-md-6 order-me-first  ">
            <img class="evento-img" src="images/eventos/posters_02.png" alt="">
          </div>
      </div>
    </div>

  <div class="container-fluid">
    <div class="row mitad">
      <div class="col-xs-12 col-md-6 texto-mitad">
        <h1 style="margin-bottom: 0px!important;">AJUAR FEST</h1>
        <p class="sub-tit">Art, Music, and Shopping Festival</p>
        <p>Artistas de todo Mexico estan invitados, tendremos música en vivo, 
          tiendas locales, comida y un buen ambiente.</p>
      </div>
      <div  class="col-xs-12 col-md-6">
        <img class="evento-img" src="images/eventos/posters_01.png" alt="">
      </div>
    </div>
  </div>

</div>




<%- include('partials/_footer') %>