  <%- include('partials/_header') %>
  <%- include('partials/_nav') %>

  <div class="mover"></div>

    <header class="page-header header container-fluid">
        <div class="overlay"></div>
        <div class="description">
          <h1>First Collection</h1>
          <div>
            <img src="images/TshirtR.png" alt="">
            <img src="images/TshirtB.png" alt="">
            <img src="images/TshirtY.png" alt="">
          </div>
          <button class="btn btn-outline-secondary btn-lg"><a style="text-decoration: none;" class="foot-link" href="coleccion.html">Comprar</a></button>
        </div>
    </header>


    <!--gatitos
    <div class="container padding150 camisetas">
      <p class="titulo">First Collection</p>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 modulo">
          <img src="http://placekitten.com/200/250" alt="">
          <p class="camiseta-p">Camiseta #1</p>
          <p class="precio-p">MXN $250</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 modulo">
            <img src="http://placekitten.com/200/250" alt="">
            <p class="camiseta-p">Camiseta #1</p>
            <p class="precio-p">MXN $250</p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 modulo">
              <img src="http://placekitten.com/200/250" alt="">
              <p class="camiseta-p">Camiseta #1</p>
              <p class="precio-p">MXN $250</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 modulo">
                <img src="http://placekitten.com/200/250" alt="">
                <p class="camiseta-p">Camiseta #1</p>
                <p class="precio-p">MXN $250</p>
              </div>

      </div>
    </div>
-->

<div class="container hp-ropa">
     <div class="row products camisetas">
              <% if(data){ %>
                <% for(var i=0; i <3; i++){ %>
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href='product-page.html/<%=data[i].id_producto%>'><img class="card-img-top" src='/images/Productos/<%=data[i].id_producto%>.png' alt=""></a>
                      <div class="card-body">
                        <strong> <h5 class="card-title" style="margin: 0; font-weight: 600;">
                          <a class="text-dark" href="product-page.html/<%=data[i].id_producto%>"><%= data[i].nom_producto%></a>
                        </h5></strong>
                        <p class="text-secondary">$<%= data[i].precio %> pesos</p> 

                        <!-- boton
                        <form action="/add/<%= data[i].id_producto%>" method="get" class="text-center">
                         
                          <% if(data[i].inventario >= 1) { %>
                            <button type="submit" class=" btn-comprar" role="button">
                               <span class="spn">Comprar</span>
                          <%}else{%>
                            <button type="submit" class="btn btn-iconed btn-lg btn-rounded btn-outline-secondary btn-block"role="button">
                              <span>No disponible</span>
                          <%}%>   
                            </button>  
                          </form> 
                        -->
                      </div>
                    </div>
                  </div>
                <% } %>
              <% } %>

              
      </div>
</div>



    <div class="container-fluid padding150 ajuareate">
    
      <p class="titulo">#ajuareate</p>
    
      <div class="row img-grid">
          <div class="column">
            <img src="/images/homepage/A5.png">
          </div>
          <div class="column">
            <div style="height: 239px;"><img style="margin-top: -68px;" src="/images/homepage/PMovil4.png"></div>
            <div> <img src="/images/homepage/PMovil2.png"></div>
          </div>

          <div class="column">
              <img style=" margin-top: -48px;" src="/images/homepage/A4.png">
            </div>
            <div class="column">
              <img src="/images/homepage/PMovil3.png">
            </div>
      </div>

    </div>

      <%- include('partials/_footer') %>