<%- include('partials/_header') %>
<%- include('partials/_nav') %>



  <div class="page-header">
      <div class=" promo-header ">
        <div class="overlay"></div>
        <div class="img-chila" >
        <img src="/images/promos/PromoA.png" alt=""></div>
        <div class="desc-promo" style="margin-top: 100px;">
          <br><br>
          <h1>PROMO DE CUARENTENA</h1>
          <p>20% de descuento por la cuarentena chafa que todos vivimos. Solo aplica en México con código:<strong> CUARENTONTA20</strong></p>
        </div>
      </div>
    
    </div>
  
  <header class="container-fluid" style="position: relative;">
    <div class="overlay" style="z-index: 1;"></div>
    <div class="row" style="height: 500px; overflow: hidden;">
      <div class="column column-header col-lg-8 col-md-12 column-one">
        <div class="c1-img"><img src="/images/promos/PromoB.png" alt=""></div>
        <div class="desc-promo">
        <h1 class="column-h1">NOVATO</h1>
        <P>Si es tu primer vez comprando y quieres promo usa el código: <strong>FIRST15</strong></P>
      </div>
      </div>
      <div class="column column-header col-lg-4 col-md-12 column-two">
        <div class="c2-img">
        <img src="/images/promos/PromoC.png" alt=""></div>
        <div class="desc-promo">
        <h1 class="column-h1">NOMÁS PORQUE SÍ</h1>
        <p>Nomas porque nos caen bien te damos 5% de descuento con el código:<strong> TQM5</strong></p>
      </div>
      </div>
    </div>
</header>


<div class="ropa-content  padding150 ">
  <div class="ropa-camisetas">
    <div class="titulo container" style="text-align: left;">
      <p>Promos Exclusivas</p>
      <hr class="linea">
    </div>
    <div class="ropa-carusel">

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item row active ">
              <img src="images/catalogo/Catalogo1.png" alt="1 slide">
              <img src="images/catalogo/Catalogo2.png" alt="2 slide">
              <img src="images/catalogo/Catalogo3.png" alt="3 slide">
          </div>
          <div class="carousel-item row">
              <img src="images/catalogo/Catalogo4.png" alt="4 slide">
              <img src="images/catalogo/Catalogo5.png" alt="5 slide">
              <img src="images/catalogo/Catalogo2.png" alt="6 slide">
          </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="fas fa-chevron-left"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="fas fa-chevron-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>


<%- include('partials/_footer') %>