@font-face {
  font-family: "AirbnbCereal";
  src: url("../fonts/AirbnbCereal-Medium.ttf");
  
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


* {
  font-family: 'AirbnbCereal';
}

.padding150 {
  padding: 100px 0 0 0;

}

.titulo {
  text-align: center;
  font-size: 26px!important;
  font-weight: 800!important;
  margin-bottom: 25px!important;
}

.sub-tit {
  font-size: 22px;
  margin-bottom: 40px;
}

h1 {
  font-size: 26px!important;
  font-weight: 800!important;
  margin-bottom: 25px!important;
}

p {
  font-family: 'Open Sans', sans-serif!important;
}

.mini-titulo {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 20px;
}

/*       navbar    */

.logo {
  width: 35%;
}

#ropa:hover,
#ajuareate:hover, .activo-rojo {
  color: #F30102!important;
}

#coleccion:hover, .activo-azul {
  color: #0001FB!important;
}

#promo:hover,
#eventos:hover,
.activo-amarillo {
  color: #FBCB00!important;
}



.barra {
  padding-top: 20px!important;
  padding-bottom: 20px!important;
  -webkit-box-shadow: 5px 5px 14px -5px rgba(0,0,0,0.6);
-moz-box-shadow: 5px 5px 14px -5px rgba(0,0,0,0.6);
box-shadow: 5px 5px 14px -5px rgba(0,0,0,0.6);
position: fixed!important;
z-index: 1000;
width: 100%;
top: 0;
background-color: #fff;
}

.page-header {
  margin-top: 86px;
}

.navbar-nav {
  border-bottom: solid 2px rgb(187, 187, 187);
}

.nav-link {
  color: black;
  padding: 10px 25px!important;
}

.col-6 {
  justify-content: center!important;
}

.hamburguesa {
  justify-content: flex-end;
}

.hamburguesa > svg {
  margin-left: 10px;
}


/*       header home    */

.header {
  background-image: url(../images/HomePage1.png);
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 590px;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.description {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.description img {
  width: 22%;
}

.description h1 {
  color: #fff;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}
.description button {
  background:#fff;
  color:#000;
  padding: 10px 30px!important;
  margin-top: 10px;
  border-radius: 0;
  border: 0;
}

.description button:hover {
  background:rgb ((211, 211, 211)209, 209, 209);
  transition: all .3s;
  color:#fff;
}


/*       camisetas home    */

.modulo img {
  display: block;
  margin: auto;
}

.camisetas p {
  font-size: 18px;
  text-align: center!important;
}

.camiseta-p {
  margin: 10px 0 0 0;
  font-weight: 700;
}


/*       #ajuareate home     */

.ajuareate .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.ajuareate .column {
  flex: 25%;
  max-width: 25%;
  padding: 0;
}

.ajuareate .column img {
  margin: 0;
  vertical-align: middle;
  width: 100%;
}

/*   ROPA   */

.header-ropa {
  background-image: url(../images/catalogo/Catalogo4.png);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position-y: -830px;
  height: 100%;
  min-height: 590px;
}

.ropa-camisetas .titulo p {
  margin-bottom: 10px;
}

.linea {
  border-top: 3px solid #333333;
  margin: 0;
}

.carousel-item img {
  width: 33.1%;
  /*padding: 10px;              WHYYYYYYYY*/
}

/*   COLECCION   */


.header-coleccion {
  background-image: url(../images/catalogo/Catalogo2.png);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position-y: -170px;
  height: 100%;
  min-height: 700px;
}

.column-header {
  min-height: 400px;
  flex-direction: column;

}

.column-h1, 
.column-header p {
  color: #fff;
  z-index: 1;
}

.column-header p {
  width: 400px;
  text-align: center;
}

.column-one {
  background-image: url(../images/catalogo/de\ la\ roja\ coleccion.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
}

.column-two {
  background-image: url(../images/catalogo/PMovil1.png);
  background-size: cover;
  display: flex;
  align-items: center;
}

.c-img {
  height: 350px;
  width: 100%;
  overflow: hidden;
}

.coleccion-img img{
  width: 100%;
  overflow: hidden;
}

.coleccion-div {
  padding: 100px 0;
}

.coleccion-img div:nth-child(2) {
  margin: 10px 0 30px 0;
}

.coleccion-img div:nth-child(2) .mini-titulo {
  margin: 0!important;
}

/*   PROMOOOO   */

.description p {
  width: 600px;
  margin: auto;
}


.column-one p,
.column-two p {
  width: 300px!important;
}


/*   Ajuar Shop   */


.header-ajuareate {
  max-width: 100%; 
  height: auto;
  overflow: auto;
  margin-top: 85px;
  
  margin-top: 86px;
}

.header-ajuareate img {
background-repeat: no-repeat;
position: relative;
background-size: contain;
max-width: 100%;
}

.ajuarshop-div {
  padding-bottom: 100px;
  text-align: center;
}

.ajuarshop-div p {
  width: 600px;
  text-align: center;
  margin: auto;
  font-size: 18px;
}

.two-image .row {
  margin: auto;
}

.two-image .col-6 {
  display: flex;
  justify-content: center;
} 

.two-image {
  background-color: #F30102;
}

.unete {
  background-color: #000;
  color: #fff;
  padding: 10px 25px;
  border: none;
  margin-bottom: 25px;
  
  transition: ease-in-out all .2s;
}

.unete:hover {
  background-color: #0001FB;
  transition: ease-in-out all .2s;
}

.header-ajuareate2 {
  background-image: url(../images/ajuarshop/header2.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 100%;
    height: auto;
}


/*   EVENTOS   */

.eventos .container-fluid,
.col-md-6 {
  padding: 0!important;
}

.evento-img {
  width: 100%;
}

.texto-mitad {
  width: 50%!important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 70px 110px!important;
  background-color: #f3f3f3;
}


.texto-mitad p {
  font-size: 18px;
}

/*   footer   */
footer {
  padding: 70px 0;
  position: absolute;
  right: 3%;

}











.carousel-inner .row {
  margin-left: 0!important;
}


.ropa-carusel a {
  color: #000;
}

.ropa-carusel a:hover {
  color: #000;
}



/*    MEDIA QUERIES   */
@media (max-width: 992px) {
  .modulo {
    margin-top: 25px!important;
  }
  .camisetas .titulo {
    margin-bottom: 0!important;
  }
}

@media screen and (max-width: 800px) {
  .ajuareate .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media (min-width: 768px) and (max-width: 991px){
  .carousel-inner{
    max-width: 100%;
    margin: auto;
  }
  .carousel-item img {
    width: 32.1%;
    padding-left: 30px;
}
.c-img {
  height: 280px;
}
}

@media (min-width: 992px) {
.carousel-inner{
  max-width: 970px;
  margin: auto;
}
.carousel-inner {
  padding-left: 0!important;
}
.coleccion-img img {
  margin-top: -113px;
}
}

@media (min-width: 1200px){
  .carousel-inner{
    max-width: 1160px;
    margin: auto;
  }
  .carousel-inner {
    padding-left: 29px;
  }
}

@media screen and  (max-width:1200px) {
  .c-img {
    height: 272px;
  }
}


@media screen and (max-width: 767px) {
  .description img:nth-child(2), 
  .description img:nth-child(3) {
    display: none;
  }

  .description img {
    width: 45%;
  }
  .texto-mitad {
    width: 100%!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 100px!important;
}
}

@media screen and (max-width: 600px) {
  .ajuareate .column {
    flex: 100%;
    max-width: 100%;
  }
}


@media screen and (max-width:575px) {
  .coleccion-img div:nth-child(2) {
    margin: 10px 0 60px 0;
}
.c-img {
 height: auto;
width: 100%;
overflow: hidden;
}
}

