    <!-- Archivos de JavaScript, ya que deben correr al final del proceso siempre -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/de54673566.js"></script>

    <script src="https://kit.fontawesome.com/20ff96890d.js" crossorigin="anonymous"></script>

    <script src="js/main.js"></script>

</body>
<!-- Fuera del body, empezamos el footer -->
<footer class="container">
  <div class="row">
  <div class="col-6">
    <div class="column">
      <p class="mini-titulo">Necesitas ayuda</p>
      <p>Mándanos mensaje.</p>
      <p><strong><a class="foot-link" href="mailto:ajuarshop@gmail.com">ajuarshop@gmail.com</a></strong></p>
      <strong><p><a class="foot-link" href="tel:+52 (686) 152 19 21">+52 (686) 152 19 21</a></p></strong>
      <p>Lunes a Viernes de 8:00 am-6:00pm PDT</p>
    </div>
  </div>
  
  <div class="col-6">
    <div class="row">
      <p class="mini-titulo">Ajuar SHOP</p>
    </div>
    <div class="row">
      <div class="column" style="margin-right: 40px;">
        <p><a href="/#ajuar" class="foot-link">Quiénes somos</a></p>
        <p>Trabaja con nosotros</p>
        <p>Tiendas</p>
        <p>Artistas</p>
      </div>
      <div class="column">
        <p><a href="ropa.html" class="foot-link">Ropa</a></p>
        <p><a href="promocion.html" class="foot-link">Promo</a></p>
        <p><a href="coleccion.html" class="foot-link">Colección</a></p>
        <p><a href="eventos.html" class="foot-link">Eventos</a></p>
      </div>
    </div>
  </div>
</div>
</footer>
</html>